$gray01: #c0c0c0;

$yellow01: #c0c000;

$skyblue01: #00c0c0;

$green01: #00c000;

$pink01: #c000c0;

$red01: #c00000;

$blue01: #0000c0;
$blue02: #00214c;

$purple01: #32006a;

$black01: #131313;
$black02: #090909;
$black03: #1d1d1d;
